section, article, aside, footer, header, nav, hgroup, main {
  display: block;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #303030;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lustria', serif;
    color: #fff;
}
p {
    color: #000;
}

.main-body {
    width: 900px;
}

header {
    position: relative;
    top: 0px;
    background-color: #303030;
    height: 100px;
    width: 870px;
    margin: 5px;
    padding: 15px 15px 15px 15px;
}

main {
    position: relative;
    background-color: #303030;
    color: #000;
    width: 870px;
    padding: 15px 15px 15px 15px;
    margin-left: 5px;
    margin-top: 15px;
}

#nav {
    border: 1px solid #000;
    margin-bottom: 50px;
    padding: .5em;
}

#tabs ul {
    margin-left: 0;
    padding-left: 0;
    display: inline;
} #tabs ul li {
    margin-left: 0;
    margin-bottom: 0;
    padding: 2px 15px 5px;
    border: 1px solid #000;
    list-style: none;
    display: inline;
    background-color: #277EBC;
    font-family: 'Lato', sans-serif;
    color: #fff;
}
#tabs ul li.here {
    border-bottom: 1px solid #ffc;
    list-style: none;
    display: inline;
}

[id^="togList"],                        /* HIDE CHECKBOX */
[id^="togList"] ~ .list,                /* HIDE LIST */
[id^="togList"] + label  span + span,   /* HIDE "Collapse" */
[id^="togList"]:checked + label span{   /* HIDE "Expand" (IF CHECKED) */
  display:none;
}
[id^="togList"]:checked + label span + span{
  display:inline-block;                 /* SHOW "Collapse" (IF CHECKED) */
}
[id^="togList"]:checked ~ .list{
  display:block;                        /* SHOW LIST (IF CHECKED) */
}
