body{
    font-family: 'Lato', sans-serif;
    background-color: #303030;
    color: #fff;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Lustria', serif;
}

#babs{
    position: absolute;
    right: 0;
    font-size: 0.8em;
    background-color: #72ACD5;
}
#babs a{
    color: #fff;
    padding: 0px 10px 0px 10px;
}

header{                        /* is not working as expected */
    display: block;
    position: relative;
    top: 0px;
    background-color: #277EBC;
    height: 200px;
    width: 900px;
}
